

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(4, 4, 90);
    color: white;
    padding: 20px 0;
}
.brand{
    width: 20%;
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
}
.search-bar{
    width: 60%;
}
.search-bar input{
    width: 55%;
    padding: 3px 0;
}
.search-bar ::placeholder{
    font-weight: bold;
    text-align: center;
}
.Kart{
    width: 20%;
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
    color: white
}
.nav-second{
    display: flex;
    justify-content: space-between;
    background-color: blue;
    color: white;
    padding: 13px;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img img{
    width: 500px;
    height: 500px;
}
.con{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}